name: Run ESLint on Pull Requests

on:
  - pull_request

jobs:
  build:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      
      # Check out the repository
      - uses: actions/checkout@v4

      # Install Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 12

      # Install your dependencies
      - run: npm ci

      - name: ESLint
        run: npx github-actions-eslint-annotator
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         PARTIAL_LINTING: true # default: false, only works on PRs